<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      <h1><%= @station.name %></h1>

      <div>
        <p>Address: <%= @station.address %><p>
        <p><%= @station.bikes.count %> bikes docked</p>
        <% if logged_in? %>
          <button> <%= link_to("RENT NOW", rental_path(@station.identifier)) %> </button>
        <% else %>
          <button> <%= link_to("RENT NOW", "/user_login") %> </button>
          <% cookies[:current_station] = @station.identifier %>
        <% end %>
      </div>

      <div><% if @station.photo %>
      <%= image_tag(@station.photo, style: 'width:30%;')%>
      <% end %> </div>


    </div>
  </div>
</div>