<%# contains the user ride history information to be displayed in a table on the profile view. #%>

<table>
    <tr>
        <th></th>
        <th>This Month</th>
        <th>This Year</th>
        <th>All Time</th>
    </tr>
    <tr>
        <th>Trips taken:</th>
        <td><%= @rentals.where(start_time: (Date.today.beginning_of_month..Date.current.end_of_day)).count %></td>
        <td><%= @rentals.where(start_time: (Date.today.beginning_of_year..Date.current.end_of_day)).count %> </td>
        <td><%= @rentals.count %> </td>
    </tr>
    <tr>
        <th>Time ridden:</th>
        <td>
            <% time = 0 %>
            <% @rentals.where(start_time: (Date.today.beginning_of_month..Date.current.end_of_day)).each do |rental| %>
                <% if rental.actual_end_time %>
                    <% time += (rental.actual_end_time - rental.start_time)/60 %>
                <% else %>
                    <% time += (Time.current - rental.start_time)/60 %>
                <% end %>
            <% end %>
            <%= time.ceil() %>
        </td>
        <td>
            <% time = 0 %>
            <% @rentals.where(start_time: (Date.today.beginning_of_year..Date.current.end_of_day)).each do |rental| %>
                <% if rental.actual_end_time %>
                <% time += (rental.actual_end_time - rental.start_time)/60 %>
                <% else %>
                <% time += (Time.current - rental.start_time)/60 %>
                <% end %>
            <% end %>
            <%= time.ceil() %>
        </td>
        <td>
            <% time = 0 %>
            <% @rentals.each do |rental| %>
                <% if rental.actual_end_time %>
                    <% time += (rental.actual_end_time - rental.start_time)/60 %>
                <% else %>
                    <% time += (Time.current - rental.start_time)/60 %>
                <% end %>
            <% end %>
            <%= time.ceil() %>
        </td>
    </tr>
    <tr>
        <th>Longest duration:</th>
        <td>
            <% maxdur = 0 %>
            <% @rentals.where(start_time: (Date.today.beginning_of_month..Date.current.end_of_day)).each do |rental| %>
                <% if rental.actual_end_time %>
                    <% duration = (rental.actual_end_time - rental.start_time)/60 %>
                <% else %>
                    <% duration = (Time.current - rental.start_time)/60 %>
                <% end %>
                <% if duration > maxdur %>
                    <% maxdur = duration %>
                <% end %>
            <% end %>
            <%= maxdur.ceil() %>
        </td>
        <td>
            <% maxdur = 0 %>
            <% @rentals.where(start_time: (Date.today.beginning_of_year..Date.current.end_of_day)).each do |rental| %>
                <% if rental.actual_end_time %>
                    <% duration = (rental.actual_end_time - rental.start_time)/60 %>
                <% else %>
                    <% duration = (Time.current - rental.start_time)/60 %>
                <% end %>
                <% if duration > maxdur %>
                    <% maxdur = duration %>
                <% end %>
            <% end %>
            <%= maxdur.ceil() %>
        </td>
        <td>
            <% maxdur = 0 %>
            <% @rentals.each do |rental| %>
                <% if rental.actual_end_time %>
                    <% duration = (rental.actual_end_time - rental.start_time)/60 %>
                <% else %>
                    <% duration = (Time.current - rental.start_time)/60 %>
                <% end %>
                <% if duration > maxdur %>
                    <% maxdur = duration %>
                <% end %>
            <% end %>
            <%= maxdur.ceil() %>
        </td>
    </tr>
</table>
