<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">

    <h1>Verify Email Code</h1>

    </div>

    <%= form_with url: start_login_path, remote: true, method: 'post' do |form| %>
    <% flash.each do |type, msg| %>
        <div>
            <%= msg %>
        </div>
    <% end %>
    <p>Type Code Here: <%= form.text_field :code, :placeholder => "0000" %></p> <br>
    <%= form.submit "Submit Code" %>
  <% end %>

  <%= link_to "Return to Login", "/user_login" %>

  </div>
</div