<div class="page-section flexbox vertical stretch">
    <div class="section-inner flexbox vertical stretch">
        <div class="section-title"style="width: 100%">
            <%= cookies[:theme] %>
            <div class="button" style="display: inline-block"><%= link_to 'light', set_theme_path(theme: 'light')%></div>
            <div class="button" style="display: inline-block"><%= link_to 'dark', set_theme_path(theme: 'dark') %></div>
            <div class="button" style="display: inline-block"><%= link_to 'system default', set_theme_path %></div>
            <h1>Welcome,
                <%= @user&.first_name %></h1>

            <div style = "display: flex; justify-content: space-around;">
                <%= button_to("Your current rides", current_path, :method => "get", :class => "button")%>
                <%= button_to("Your past purchases", purchases_path(@user.id), :method => "get", :class => "button")%>
                <%= button_to("Log Out", "/user_logout", :method => "get", :class => "button altbutton")%>
                <%= button_to("DELETE ACCOUNT", delete_user_path(@user.id), :method => "get", :class => "button deletebutton")%>
            </div>

      <%= render(partial: "users/profile_table", rentals: @rentals) %>

    </div>  
  </div>
</div>
