<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">

    <h1>Your Past Purchases</h1>
    <p><%= @user.first_name %> <%= @user.last_name %> </p>

    <table>
        <tr>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Start Station</th>
        <th>End Station</th>
        <th>Cost</th>
        </tr>

      <% @rentals.each do |rental| %>
        <tr>
        <td><%= rental.start_time.to_date%></td>
        <td><%= rental.start_time.hour %>:<%= rental.start_time.min %></td>
        <td><%= rental.actual_end_time.hour %>:<%= rental.actual_end_time.min %></td>
        <td><%= Station.find_by(identifier: rental.start_station).name %></td>
        <td><%= Station.find_by(identifier: rental.end_station).name %></td>
        <td></td>
        </tr>
      <% end %>
    </table>

    </div>
  </div>
</div> 

<!-- Continuous table styling ^^ -->