<div class="page-section flexbox vertical stretch">
    <div class="section-inner flexbox vertical stretch">
        <div class="section-title">

<html>
    <body>
        <h2> Subscription Plans </h2>

        <% flash.each do |type, msg| %>
            <div class='alert'>
              <%= msg %>
            </div>
          <% end %>

        <div class="home-card">
            <div>
                <h3>Monthly Membership</h3>
                    <p>- Low-commitment</p>
                    <p>- Month-to-month subscription fee</p>
                    <p>- Unlimited rides</p>
                    <p>- No overage fees</p>
                    <p>- Up to four bikes per user</p>
                    <br>
                    <h3>$19.13</h3>
                    <%= form_with url: subscribe_path, remote: true, method: 'post' do |form| %>
                        <%= hidden_field_tag(:price, "price_1Mzr9uDRwtZV86UmtOiQFnzq") %>
                        <%= form.submit "Monthly", class: "button" %>
                    <% end %>
            </div>
        </div>
        <div class="home-card">
            <div>
                <h3>Yearly Membership</h3>
                    <p>- Higher-commitment</p>
                    <p>- Annual subscription fee</p>
                    <p>- Unlimited rides</p>
                    <p>- No overage fees</p>
                    <p>- Up to four bikes per user</p>
                    <br>
                    <h3>$76.50</h3>
                    <%= form_with url: subscribe_path, remote: true, method: 'post' do |form| %>
                        <%= hidden_field_tag(:price, "price_1MzrAjDRwtZV86UmAainx1pb") %>
                        <%= form.submit "Annual", class: "button" %>
                    <% end %>
            </div>
        </div>
    </body>
</html>

</div>
</div>
</div>
