<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title" style = "margin-left:0;">
      <h1>Login</h1>
    </div>

    <%= form_with url: create_session_path, remote: true, method: 'post' do |form| %>
    <% flash.each do |type, msg| %>
        <div>
            <%= msg %>
        </div>
    <% end %>
    
    <div id = "input">Email: <%= form.email_field :email, :placeholder => "jappleseed@apple.orchard", id: "textbox" %></div>
      <br>
      <%= form.submit "Send Verification Code", :class => "button"%>
      <% end %>
      <%= button_to "Create Account", "/create_account", :method => "get", :class => "button altbutton" %>
    </div>

</div