<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">

        <h1>Your Current Bikes</h1>

    </div>

    <p>You currently have: <%= @rentals.count %> bikes </p>
    <%= button_to("View Map", "/map", :method => "get", :class => "button") %> 

    <p>Happy Riding!</p>
        
    <p>To return a bike, approach a ValetBike station and type in the code on the dock you wish to return it to.</p><br/>

    <% @rentals.each do |rental| %>
      <p>Bike: <%= rental.bike.identifier %></p>
      <p>Return by: <%= rental.predicted_end_time %> </p>
      <%= button_to("Return Bike", lock_path(rental.id), :method => "get", :class => "button") %> 
      <br/>
    <% end %>

  </div>
</div>