<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">

      <h2>Return Your Bike</h2>

      </div>

      <%# contains a form which collects information about the station and dock wherein a user is returning their bike at the #%>
      <%# end of a rental. #%>
      
      <%= form_with url: return_path(@rental.id), method: 'patch' do |form| %>
        <% flash.each do |type, msg| %>
          <div class='alert'>
            <%= msg %>
          </div>
        <% end %>
        <p> Please select the station.</p>
        <%= form.select(:station_code, @station_options, :selected => @rental.start_station) %>
        <p> Please enter the 2-digit code on the dock.</p>
        <%= form.text_field :dock_code %>
        <%= form.submit("Return Bike", :class => "button") %>
      <% end %>
  </div>
</div>