<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">

      <h1>Return Your Bike</h1>

      </div>
      
      <%= form_with url: update_path(@rental.id), method: 'patch' do |form| %>
        <% flash.each do |type, msg| %>
          <div>
            <%= msg %>
          </div>
        <% end %>
        <p> Please enter the 2-digit code on the station.</p>
        <%= form.select(:station_code, @station_options, :selected => @rental.start_station) %> %>
        <p> Please enter the 2-digit code on the dock.</p>
        <%= form.text_field :dock_code %>
        <%= form.submit("Return Bike", :class => "button") %>
      <% end %>
  </div>
</div>