<body>
<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">

        <h1>Confirm Your Purchase</h1>

    </div>

    <p>Station: <%= @station.name %> </p>
    <p>Bike: <%= @bike.identifier %> </p>

    <p>How much time?</p>
    <%= form_with url: rent_path(@station.identifier, @bike.identifier), method: 'post' do |form| %>
      <p> <%= form.number_field :duration, in: 0..120, step: 5 %> minutes</p>
      <%= form.submit("UNLOCK NOW", :class => "button") %>
    <% end %>

  </div>
</div>
</body>