<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">

        <h1>Confirm Your Purchase</h1>

    </div>

    <p>Station: <%= @station.name %> </p>
    <p>Bike: <%= @bike.identifier %> </p>

    <p>How much time?</p>
    <%= form_with do |form| %>
      <p> <%= form.number_field :duration, in: 1..120, step: 1 %> minutes</p>
    <% @rental.user_id = User.find_by(first_name: "Stephen").id %>
    <% @rental.bike_id = @bike.id %>
    <% @rental.start_station = @station.id %>
    <% @rental.start_time = Time.current%>
    <% @rental.predicted_end_time = Time.current + 10.minutes%>
    <% @rental.save %>

    <div class="form-buttons">
      <%= link_to(form.submit("UNLOCK NOW"), current_path(@rental.id)) %>
    </div>
    <% end %>

    </div>
    </div>