<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">

        <h2>Receipt</h2>

    </div>

    <%# displays information for the user regarding their most recently completed rental, including details about overtime if #%>
    <%# the user kept the bike beyond their allotted time. #%>

    <% flash.each do |type, msg| %>
      <div class='alert'>
        <%= msg%>
      </div>
    <% end %>

    <div>
        <p>Start Station: <%= Station.find_by(identifier: @rental.start_station).name %> </p>
        <p>End Station: <%= Station.find_by(identifier: @rental.end_station).name %> </p>
        <p>Time: <%= ((@rental.actual_end_time - @rental.start_time) / 60).ceil %> minutes </p>
        <% if @rental.actual_end_time > @rental.predicted_end_time %>
        <p> OVERTIME: <%= ((@rental.actual_end_time - @rental.predicted_end_time) / 60).ceil %> minutes </p>
        <% end %>
    </div>

    
  </div>
</div>