<div>
  <h1 class="font-bold text-4xl">User#profile</h1>
  <p>Find me in app/views/user/profile.html.erb</p>
</div>

<%= form_with model: @user do |form| %>
  <p>First name: <%= form.text_field :firstName, :placeholder => "Johnny" %></p> <br>
  <p>Last name: <%= form.text_field :lastName, :placeholder => "Appleseed" %></p> <br>
  <p>Email: <%= form.email_field :email, :placeholder => "jappleseed@apple.orchard" %></p> <br>
  <%= form.submit "Create account" %>
<% end %>

