<style>
    footer {
        background-color: var(--light-text-color);
        color: var(--dark-text-color);
        padding: 20px;
        font-size: var(--small);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        display: flex;
        justify-content: space-between;

    }
    .content {
        display: inline-flex;
        float: right;
        text-align: right;
    }
    a {
        color: var(--dark-text-color);
        text-decoration: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: normal;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        color: var(--dark-text-color);
        text-decoration: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: normal;
    }
    a:hover {
        text-decoration: underline;
    }
    .col {
        margin: 0 40px;
    }
    .bow {
        margin: 30px;
        vertical-align: middle;
    }
</style>

<div>
    <footer>
        <div class="test"><%= link_to content_tag(:div, nil, class: "bow"), "/index" %></div>
        <div class="content">
            <ul>
                <li>
                    <div><%= link_to 'light', set_theme_path(theme: 'light')%></div>
                </li>
                <li>
                    <div><%= link_to 'dark', set_theme_path(theme: 'dark') %></div>
                </li>
                <li>
                    <div><%= link_to 'system default', set_theme_path %></div>
                </li>
            </ul>
            <div class="col">
                <h3>
                    Contact us
                </h3>
                <ul>
                    <li>
                        <a href="mailto: valetbike223@gmail.com">
                            valetbike223@gmail.com</a>
                    </li>
                    <li>(413)-123-4567</li>
                    <li>Nipmuc Notch!!!</li>
                </ul>
            </div>
            <div class="col">
                <h3>Learn more</h3>
                <ul>
                    <li><%= link_to("FAQs", '/faqs') %></li>
                    <li><%= link_to("Meet the team", '/meet-the-team') %></li>
                    <li><%= link_to("Payment plans", '/???') %></li>
                </ul>
            </div>
        </div>

    </footer>
</div>
